.clap {
  margin: 2rem 0;
}

.clap-buttons {
  display: flex;
  justify-content: center;
}

.clap-count {
  font-family: "objektiv-mk3";
  text-align: center;
}

.clap-text {
  font-family: "objektiv-mk3";
  font-weight: "300";
  text-align: center;
  letter-spacing: .03rem;
}

.clap-button {
  font-family: "objektiv-mk3";
  font-size: 1rem;
  background-color: hsl(52, 26%, 56%);
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
