.header {
  background-color: hsl(0, 0%, 20%);
  height: 3.5rem;
  color: hsl(0, 0%, 100%);
}

.header::after {
  content: "";
  display: block;
  background-image: url("https://s3-eu-west-1.amazonaws.com/tyersclub/images/coloursbar.svg");
  width: 100vw;
  height: .5rem;
}

.header-section {
  width: 100vw;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.header-logo {
  height: 2rem;
  margin: 0 0 0 .5rem;
}

.header-title {
  font-size: 1.2rem;
  font-family: "tornac";
  display: inline-block;
  margin: 0 0 0 .5rem;
}

