.app {
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5rem;
}

.app-header {
  text-align: center;
  background-color: hsl(0, 0%, 20%);
  height: 30vh;
  padding: 1rem;
  color: hsl(0, 0%, 100%);
}

.app-title {
  font-size: 1.5rem;
  font-family: "tornac";
}

.app-intro {
  margin: 1rem;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.6rem;
  letter-spacing: 0.01rem;
  font-family: "objektiv-mk2";
  font-weight: 300;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
